@charset "utf-8";

body {
    scroll-behavior: smooth;
}

:root {
    --soundTrack-width: 1008px;
    --h1-font: "neutraltextbook";
    --main-font: "dominikth";
    --footer-font: 'Itim', cursive;
    --light-gray-color: #555;
    --arrow-position: 32%;
    --arrow-size: 50px;
}


/******************** A. 상단부분(season3) ********************/
#subTop {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: transparent;
}

#subTop > .subTop {
    padding: 2vh 0;
    text-align: center;
}

/* 1. 페이지타이틀 */
.subTit{
    width: 200px;
    height: 100px;
}

.btn_con {
    position: fixed;
    top: 30px;
    right: 5vw;
    padding: 3vh 0;
}

.btn_con a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}


/******************** B. 메인부분(season3) ********************/
.main {
    max-width: 1008px;
    width: 100%;
    margin: 0 auto;
}

#sub_bg {
    position: relative;
    width: 100vw;
    height: calc(100vh - 50vh);
    background: url(../image/car3_keyvisual12.jpg) no-repeat center/cover;
    filter: brightness(60%);
}

.track {
    display: flex;
}

.track>dt,
.track dd {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
}

.track dd:last-child {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 18px;
    color: var(--light-gray-color);
}

dl dd {
    padding-left: 85px;
    font-size: 20px;
}

#soundTrack {
    min-height: 620px;
    width: var(--soundTrack-width);
    margin: 0 auto;
}

.trackVideo {
    width: 820px;
    height: 442px;
    margin: 0 auto;
}

.trackVideo iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pageHeader {
    width: var(--soundTrack-width);
    margin: 0 auto;
}

.pageHeader h1 {
    padding: 72px 0 60px 0;
    font-family: var(--h1-font);
    font-weight: 400;
    font-style: normal;
}

#posterWrap {
    position: absolute;
    top: 19%;
    height: 29vh;
    width: 509px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
}

/* 포스터 넣기 */
.posterWrap {
    width: 1058px;
    margin: 0 auto;
    bottom: 0;
    display: flex;
    left: 50%;
    top: 25%;
    transform: translate(-58.6%, -27%);
    position: absolute;
    gap: 0 44px;
}

.posterWrap > div {
    box-shadow: 3px 3px 15px #000;
    transition: all.2s cubic-bezier(1, -0.01, 0, 1.47);
    filter: brightness(75%);
    width: 100%;
    height: 100%;
}

.posterWrap > div:nth-child(1),
.posterWrap > div:nth-child(2),
.posterWrap > div:nth-child(6) {
    opacity: 0;
} 


.posterWrap > div:nth-child(4) {
    transform: scale(1.20);
    filter: brightness(100%);
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 1. 스크롤시 상단메뉴바 색 변경 셋업 */
#subTop.active {
    background-color: #fff;
    box-shadow: 2px 2px 20px #131313;
    padding: 10px 0;
    transition: .3s ease-in-out;
}

/* 2. 상단이동 버튼 */
/* .gobtn {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gobtn:hover {
    background-color: #000;
}

.gobtn img {
    width: 60%;
}

.gobtn:hover img {
    filter: brightness(100);
} */


/* 화살표 이동버튼 */
.arrow_nav {
    position: absolute;
    width: 24px;
    height: 50px;
    top: var(--arrow-position);
    transform: translateY(-50%);
    background-image: url(../image/arrow.png);
    cursor: pointer;
}

.left {
    background-position: -26px -125px;
    left: 25%;
}

.right {
    background-position: -165px -228px;
    right: 25%;
}

/* IR(배경이미지 설명 숨기기) */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    
}

/******************** C. 하단영역(season3) ********************/
#bottomInfo {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #000;
}

#bottomInfo > .bottomInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 5. 제작사 로고 */
#bottomInfo .copyLogo img {
    height: 60px;
}

/* 6. 하단정보 */
#bottomInfo address {
    font-family: "dominikth";
    font-style: normal;
    color: rgb(243, 242, 242);
    font-size: 20px;
    line-height: 100px;
}

/******************** 미디어쿼리(season3) ********************/
@media screen and (max-width:1403px) {
    /* .right {
        right: 20vw;
    }

    .left {
        left: 20vw;
    } */
    #contWrap {
        width: 1403px;
    }
}

@media screen and (max-width:1148px) {
    /* .right {
        right: 17vw;
    }

    .left {
        left: 17vw;
    } */

    .trackVideo {
        margin: 0 95px;
        width: 650px;
    }

    #contWrap {
        width: 1405px;
    } 
}

@media screen and (max-width:1125px) {
    .trackVideo {
        margin: 0 95px;
        width: 650px;
    }

    #contWrap {
        width: 1125px;
    } 
}

@media screen and (max-width:1040px) {
    .main h1 {
        padding: 72px 40px 60px 40px;
        font-size: 2.3rem;
    }

    .track {
        padding: 0 40px;
    }

    .trackVideo {
        margin: 0 110px;
        width: 600px;
    }

    #contWrap {
        width: 1040px;
    }

    .main dd {
        padding: 0 60px;
    }
}

@media screen and (max-width: 916px) {
    .trackVideo {
        margin: 0 105px;
        width: 550px;
    }
    #contWrap {
        width: 888px;
    }

    .main dd {
        padding: 0 55px;
    }
}

@media screen and (max-width: 852px) {
    .trackVideo {
        margin: 0 100px;
        width: 500px;
    }
    #contWrap {
        width: 852px;
    }

    .main dd {
        padding: 0 50px;
    }
}

@media screen and (max-width: 687px) {
    .trackVideo {
        width: 430px;
    }
    #contWrap {
        width: 687px;
    }
}

@media screen and (max-width: 610px) {
    .bottomInfo {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 585px) {
    .trackVideo {
        margin: 0 90px;
        width: 330px;
    }
    #contWrap {
        width: 585px;
    }

    .main dd {
        font-size: 1.1rem;
        padding: 0 40px;
    }

    .main h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 530px){
    #contWrap {
        width: 530px;
    }

    .main dd {
        font-size: .90rem;
        padding: 0 40px;
    }

    .trackVideo {
        margin: 0 90px;
        width: 280px;
    }

    .main h1 {
        font-size: 2rem;
    }
}