@charset "utf-8";
/* 도깨비 PJ 로그인페이지 CSS - login.css */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/* 메인 겉박스 */
#cont{
    background-color: #d7d7d7;
}

.stit {
    padding: 40px 0;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.scont {
    position: relative;
    width: 600px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #777;
    margin: 0 auto;
    padding: 50px 40px;
    /* 박스크기유지: 패딩,보더값 포함 */
    box-sizing: border-box;
}

/* 입력창 공통 라벨  */
.minput label {
    width: 100px;
    display: inline-block; /* label 텍스트 영역을 인라인요소화 시켜서 다음에 오는 input요소를 띄우기 */
    font-size: 2rem; /* 기본적으로 html에 10px 폰트 들어있다고 생각 -> 2배(2rem) */
    font-weight: bold;
    line-height: 3.5rem; 
    color: #777;
    text-align: center;
}
/* 입력양식 공통 */
.minput input {
    width: 300px;
    height: 30px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1.7rem;
    padding-left: 10px;
    /* 박스크기 유지 */
    box-sizing: border-box; /* 폰트사이즈 주면서 간격 줄어들것 원래 크기 유지하도록 */
}

.scont div:nth-child(2) {
    margin-top: 15px;
}

input:focus {
    /* 포커스 아웃라인 제거 */
    outline: none;
}

.btnbx {
    position: absolute;
    /* 하위 자식요소 input 태그를 감싸는 부모 div요소는 위치 지정! */
    top: 50px;
    right: 50px;
}

.btnbx input {
    width: 70px;
    height: 75px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #777;
    background: linear-gradient(to bottom,#fff, #777, #555);
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px #000;
}

.addbx {
    /* 인라인요소 span태그를 감싸는 블록요소이므로 tac  */
 text-align: center;   
 margin-top: 25px;
 font-size: 1.5rem;
}

/* 체크박스 숨기기 */
.addbx input {
    display: none;
}

.addbx input+label {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -1px;
    color: orangered;
}

/* input박스 체크시 바로뒤 라벨요소 색상 변경 */
.addbx input:checked+label {
    font-weight: 900;
}

.addbx {
    /* 체크박스 빠르게 체크시 영역 잡히는것 막기 - 유저 선택못하게 막기 */
    user-select: none;
}

.addbx span+span::before {
    content: '|';
    margin: 0 10px;
}

.addbx a {
    color: #000;
    text-decoration: none;
}

.addbx a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: orangered;
}