@charset "utf-8";
/* 서브페이지 공통 CSS - sub.css */

body {
    margin: 0;
    padding: 0;
}

.prlogo img {
    width: 85px;
    height: 40px;
}

.afig img {
    width: 100%;
}

.afig figcaption {
    text-align: center;
}

h5 > a {
    width: 600px;
    padding: 10px;
    border: 1px dotted grey;
}

.pnews a img {
    width: 400px;
}
