@charset "utf-8";


@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pt1 {
    height: 640px;
    border: 1px dashed black;
}

.pt1 .cbx{
    height: 100%;
}

.info {
    height: 700px;
    border: 1px dashed blue;
}

.info .cbx{
    /* 부모박스 높이값에 맞춤! */
    height: 100%;
}

.mbx2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr)
}

.mbx2 .cbx {
    border: 1px solid lime;
}

.cbx2 {
    grid-column: 2/3;
    grid-row: 1/5;

}
