@charset "utf-8";

/* 공통 css 셋팅 */
@import url(./reset.css);
@import url(./common.css);

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 브라우저 셋팅 */
body {
    width: 100vw;
    height: 100vh;
}

#top {
    position: fixed;
    top: 28px;
    width: 100%;
    z-index: 99999;
    background-color: transparent; /* 배경 투명! */
}

.top {
    /* 겉을 싸고있는 부모박스에 flex 줘서 자식요소 흘러가게 */
    display: flex;
    justify-content: space-around;
}

.gnb {
    display: flex;
    left: 0;
    z-index: 999;
    border: 1px dashed red; /* 삭제 */
}


.gnb>dl {
    z-index: 999;
    text-align: center;
}

.gnb>dl+dl {
    margin-left: 90px;
}

.gnb>dl>dt {
    line-height: 120px;
    margin-bottom: -10px;
    border: 1px dashed red; /* 삭제 */
}
.gnb>dl>dt>a {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    transition: .2s ease-in;
    font-family: 'IBMPlexSansKR-Regular';
}

/* .gnb오버시 상단 글자색 변경 */
.gnb:hover>dl>dt>a {
    color: #000;
}
.gnb>dl>dd>a {
    font-size: 19px;
    color: #939393;
    font-family: 'IBMPlexSansKR-Regular';
    
}

.gnb>dl>dd {
    margin-top: 15px;
}

#logo {
    z-index: 999;
    position: relative;
}

.logo {
    border: 1px dashed red; /* 삭제 */
    position: absolute;
    width: 174px;
    height: 45px;
    top: 35px;
}

/* 로고 두번째 이미지 처음에 숨김 */
/* #top오버시 첫번째 로고 이미지 숨김 */
.logo img:last-child,
.stmap li:nth-of-type(2)>a>img,
#top:hover .stmap li:nth-of-type(1)>a>img,
#top:hover .logo>a>img:first-child {
    display: none;
}

/* #top오버시 두번째 로고 이미지 보이기 */
#top:hover .logo img:last-child,
#top:hover .stmap li:nth-of-type(2)>a>img {
    display: inline;
}

.stmap {
    z-index: 999;
    list-style: none;
    padding-left: 30px;;
}

.lang-drop-btn {
    font-size: 13px;
}


#scroll {
    position: relative;
    position: fixed;
    width: 16px;
    height: 124px;
    left: 239px;
    bottom: calc(100% - 50%);
    top: calc(100% - 50%);
    border: 1px dashed red;
    background-color: red;
}

/* 2. 메인영역 */
#scroll>span {
    z-index: 99999;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: url(../00.자료수집/02.이미지데이터/sub_scroll_down.png) no-repeat center/cover 100%;
}


.scroll-down > span > img:nth-child(1){
    opacity: 1;
}
.scroll-down > span > img:nth-child(2){
    opacity: 0;
}

/* 3. 하단영역 */
.to-top-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #eee;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

.to-top-btn::after {
    content: '↑';
    display: block;
    transform: translate(30%,40%);
}


.cont {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.cont > .screen {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    background-color: #000;
}

.cont > .screen #ifr {
    width: 100%;
	height: 100%;
	position: absolute;
    object-fit: cover;
}

#etc {
    display: flex;
    border: 1px dashed red;
    align-items: center;
    margin-bottom: 288px;
}

#etc select {
    border: 1px dashed red; /* 삭제 */
}

.stmap img{
    border: 1px dashed red; /* 삭제 */

}

/* .btn::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    border-top: transparent;

} */