@charset "utf-8";


/* 공통 css 셋팅 */
@import url(./reset.css);
@import url(./common.css);
@import url(./core.css);


/* 브라우저 공통 셋팅 */
body {
    width: 100vw;
    height: 100vh;
    /* color: #666; */
    font-family: 'IBMPlexSansKR-Regular';
}

#top {
    position: fixed;
    top: 28px;
    width: 100%;
    z-index: 99999;
    background-color: transparent; /* 배경 투명! */
}

.top {
    /* 겉을 싸고있는 부모박스에 flex 줘서 자식요소 흘러가게 */
    display: flex;
    justify-content: space-around;
}


.gnb {
    display: flex;
    border: 1px dashed red; /* 삭제 */
}


.gnb>dl {
    z-index: 999;
    text-align: center;
}

.gnb>dl+dl {
    padding-left: 70px;
}

.gnb>dl>dt {
    border: 1px dashed red; /* 삭제 */
}
.gnb>dl>dt>a {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    transition: .2s ease-in;
    font-family: 'IBMPlexSansKR-Regular';
}

/* .gnb오버시 상단 글자색 변경 */
.gnb:hover>dl>dt>a {
    color: #000;
}

.gnb>dl>dd>a {
    font-size: 18px;
    color: #939393;
    font-family: 'IBMPlexSansKR-Regular';
    
}

.gnb>dl>dd {
    padding-top: 2px;
}

.gnb>dl>dt+dd{
    padding-top: 20px;
}

#logo {
    z-index: 999;
}

.logo {
    border: 1px dashed red; /* 삭제 */
    width: 174px;
    height: 45px;
    top: 35px;
}

/* 로고 두번째 이미지 처음에 숨김 */
/* #top오버시 첫번째 로고 이미지 숨김 */
.logo img:last-child,
.stmap li:nth-of-type(2)>a>img,
#top:hover .stmap li:nth-of-type(1)>a>img,
#top:hover .logo>a>img:first-child {
    display: none;
}

/* #top오버시 두번째 로고 이미지 보이기 */
#top:hover .logo img:last-child,
#top:hover .stmap li:nth-of-type(2)>a>img {
    display: inline;
}

.stmap {
    z-index: 999;
    list-style: none;
    padding-left: 20px;
}

.lang-drop-btn {
    font-size: 13px;
}


#scroll {
    position: relative;
    position: fixed;
    width: 15px;
    height: 137px;
    left: 150px;
    bottom: calc(100% - 50%);
    top: calc(100% - 50%);
    border: 1px dashed red;
    background-color: red;
}

/* 2. 메인영역 */
#scroll>span {
    z-index: 99999;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: url(../00.자료수집/02.이미지데이터/sub_scroll_down.png) no-repeat center/cover 100%;
}


.scroll-down > span > img:nth-child(1){
    opacity: 1;
}
.scroll-down > span > img:nth-child(2){
    opacity: 0;
}

/* 3. 하단영역 */
.to-top-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #eee;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

.to-top-btn::after {
    content: '↑';
    display: block;
    transform: translate(30%,40%);
}

.scr {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: #000; */
}
.scr #ifr {
    width: 100%;
	height: 100%;
	position: absolute;
    object-fit: cover;
}

#etc {
    display: flex;
    align-items: center;
    margin-bottom: 288px;
    line-height: 15px;
}

#etc select {
    border: 1px dashed red; 
}

.stmap img{
    border: 1px dashed red; 

}


.mbx1 {
    background: url(../00.자료수집/02.이미지데이터/main_business_bg.jpg) no-repeat right/cover;
}

h2 {
    font-size: 50px;
    font-weight: normal;
    margin-left: 200px;
    margin-top: 194px;
}

.ctbx p:nth-of-type(1){
    font-size: 32px;
    color: #000;
}

.ctbx p:nth-of-type(2){
    font-size: 19px;
    color: #939393;
}

.ctbx p:nth-of-type(3){
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
}

.mbu { 
    position: relative;
}

.mbc {
    display: flex;
    margin-top: 251px;
    justify-content: space-around;
    padding: 200px 200px;
}

/* .ic1 {
    width: 100%;
    height: 100%;
} */

.ic1 img {
    width: 30px;
    height: 30px;
}

#gobtn {
    position: relative;
    display: flex;
    justify-content: center;
    right: 10px;
    bottom: 10px;
}

.gobtn {
    position: fixed;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #dad9d9;;
    right: 10px;
    bottom: 10px;
    box-sizing: border-box;
    z-index: 999;
}

.gobtn::before {
    display: block;
    font-family: "FontAwesome";
    content: "\f062";
    font-size: 13px;
    line-height: 45px;
    margin-left: 17px;
}

.cbx2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mtit1 {
    display: flex;
    position: relative;
}

.mtit1 > p {
    position: absolute;
    color: #000;
    font-weight: normal;
    font-size: 50px;
    margin-left: 250px;
    top: 214px;
}

.mtit2 {
    display: flex;
    position: relative;
    justify-content: center;
}

.cbx1 .mtit2 > p{
    position: absolute;
    color: #000;
    font-weight: normal;
    font-size: 50px;
    padding: 10px 0;
    margin-left: 111px;
}

.list-bx {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 155px;
}

.list-bx dt {
    position: relative;
    width: 70px;
    height: 63px;
    margin-right: 20px;
}

.list-bx dd {
    padding: 40px 10px;
}

.sl1 p:nth-child(1){
    font-size: 32px;
    color: #000;
}

.sl1 p:nth-child(2){
    font-size: 19px;
    color: #939393;
    margin-top: -15px;
}

.tx2 {
    margin-left: 10px;
}

.tx3 {
    margin-left: 20px;
}

.ml1 {
    margin-top: -10px;
}