@charset "utf-8";

html,body {
    margin: 0;
    padding: 0;
}

body * {
    border: 1px dashed red;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header {
    position: fixed;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border: none;
}

.headerInner {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.tlogo {
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    width: 200px;
    height: 100%;
    left: 0;
    background-color: rgb(253, 136, 136);
}

/* .tlogo>img {
    
} */

.gnb {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* .gnb>ul>li~li {
    z-index: 1;
} */

.gnb>ul {
    display: flex;
}

.gnb>ul>li>a {
    /* a태그 변경 3요소 - 밑줄, 색상, 두께 */
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.gnb>ul>li+li {
    margin-left: 150px;
}

.gnb>ul>li:hover::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin-left: -100vw;
    width: 1000vw;
    height: 40vh;
    /* background-color: red; */
    /* background: url(../00.자료수집/02.이미지데이터/gnb_bg.jpg) no-repeat; */
    background-size: 100%/contain;
    background-color: rgb(233, 138, 138);
    animation: topAni 3s ease-out 2s;
    transition: 0.5s ease-out;
}

@keyframes topAni {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20%);
    }
}

.util-bx {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 20px;
    right: 0;
    background-color: rgb(253, 136, 136);
}

.topVideo {
    width: 100vw;
    height: 1000px;
    /* background-color: red; */
}

.smenu {
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top: 20px;
}

.smenu>ul>li {
    padding-top: 10px;
}
.smenu>ul>li>a {
    font-size: 17px;
}

/* 부모 .gnb li에 맞춰 .smenu li중앙정렬 */
.gnb>ul>li:nth-child(1) .smenu {
    margin-left: -15px;
}
.gnb>ul>li:nth-child(2) .smenu {
    margin-left: -60px;
}
.gnb>ul>li:nth-child(3) .smenu {
    margin-left: -15px;
}
.gnb>ul>li:nth-child(4) .smenu {
    margin-left: 2px;
}
.gnb>ul>li:nth-child(5) .smenu {
    margin-left: 10px;
}

/* .smenu>ul {
    display: flex;
}
 */
