@charset "utf-8";

@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

html,body {
    margin: 0;
    padding: 0;
}

body * {
    /* border: 1px dashed red; */
    background: url(../00.자료수집/03.동영상데이터/KANO\(카노\)\ Brand\ film\ \(Kor.ver\).mp4);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header {
    position: fixed;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border: none;
    margin-top: 50px;
}

.headerInner {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.tlogo {
    position: absolute;
    display: flex;
    z-index: 999;
    align-items: center;
    width: 200px;
    height: 100%;
    left: 0;
    background-color: rgb(253, 136, 136);
}

.gnb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
    height: 100%;
    background-color: #fff;
    z-index: 99;
}

.gnb>ul {
    display: flex;
    height: 50%;
    align-items: center;
    line-height: 20px;
}

.gnb>ul>li>a {
    /* a태그 변경 3요소 - 밑줄, 색상, 두께 */
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Happiness-Sans-Bold';
    display: block;
    height: 100%;
}

.gnb>ul>li+li {
    margin-left: 150px;
}

.gnb>ul>li:hover::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin-left: -100vw;
    width: 1000vw;
    height: 45vh;
    background-size: 100%/contain;
}

/* 언어선택토글 & 사이트맵 메뉴바 */
.util-bx {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999999;
    top: 20px;
    right: 0;
    background-color: rgb(253, 136, 136);
}

.util-bx > button :nth-child(1) {
    font-family: 'Happiness-Sans-Bold';
    font-size: 10px;
}

/* .lang-open-btn > .arrow::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 100%;
    margin-left: 20px;
    background-color: black;
} */

.lang-open-btn::after {
    font-family: "FontAwesome";
    content: "\f078";
    /* position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: black;
    font-size: 12px;
    color: #000; */
    /* background-color: red; */
}

.topVideo {
    width: 300px;
    height: 100%;
}

.smenu {
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top: 50px;
}

.smenu>ul>li {
    padding-top: 15px;
}

.smenu>ul>li>a {
    font-size: 14px;
    text-decoration: none;
    color: #939393;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 부모 .gnb li에 맞춰 .smenu li중앙정렬 */
.gnb>ul>li:nth-child(1) .smenu {
    margin-left: -10px;
}
.gnb>ul>li:nth-child(2) .smenu {
    margin-left: -40px;
}
.gnb>ul>li:nth-child(3) .smenu {
    margin-left: -8px;
}
.gnb>ul>li:nth-child(4) .smenu {
    margin-left: 2px;
}
.gnb>ul>li:nth-child(5) .smenu {
    margin-left: 6px;
}

/* .smenu li오버시 a 색상변경 */
.smenu li:hover a {
    color: #bf1e2e;
    font-weight: bold;
}

